<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
	<head>
		<title>Narrow Down Your Menu Choice</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="styles/styles.css">
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="NarrowItDownController as ctrl">
			<h1>Narrow Down Your Chinese Menu Choice</h1>
			<div class="row container">
				<div class="form-group">
					<input ng-model="ctrl.searchTerm" type="text" placeholder="search term" class="form-control ">
					<button class="btn btn-primary mx-5" ng-click="ctrl.filter()">Narrow It Down For Me!</button>
				</div>
			</div>

			<found-items items="ctrl.found" on-remove="ctrl.remove(index)"></found-items>
		</div>

	</body>
</html>
